binary "https://assets.braintreegateway.com/mobile/ios/carthage-frameworks/cardinal-mobile/CardinalMobile.json" == 2.2.5-9
binary "https://assets.braintreegateway.com/mobile/ios/carthage-frameworks/pp-risk-magnes/PPRiskMagnes.json" == 5.5.0-static-Xcode15-MinOSVersion100
binary "https://github.com/paypal/paypalcheckout-ios/raw/main/Carthage/PayPalCheckout.json"  == 1.3.0
binary "https://github.com/paypal/paypal-messages-ios/raw/main/Carthage/PayPalMessages.json" == 1.0.0
binary "https://assets.braintreegateway.com/mobile/ios/carthage-frameworks/visa-checkout/VisaCheckoutSDK.json" == 7.3.1