<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default localization</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>Executable file</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>Bundle identifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>InfoDictionary version</key>
	<string>6.0</string>
	<key>Bundle name</key>
	<string>$(PRODUCT_NAME)</string>
	<key>Bundle OS Type code</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>Bundle version string (short)</key>
	<string>1.0</string>
	<key>Bundle version</key>
	<string>1</string>
</dict>
</plist>
