name: Build
on: [pull_request]
concurrency:
  group: build-${{ github.event.number }} 
  cancel-in-progress: true
jobs:
  cocoapods:
    name: CocoaPods (Xcode 14.3)
    runs-on: macOS-13-xlarge
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Use Xcode 14.3
        run: sudo xcode-select -switch /Applications/Xcode_14.3.app
      - name: Install CocoaPod dependencies
        run: pod install
      - name: Run pod lib lint
        run: pod lib lint
  carthage:
    name: Carthage (Xcode 14.3)
    runs-on: macOS-13-xlarge
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Use Xcode 14.3
        run: sudo xcode-select -switch /Applications/Xcode_14.3.app
      - name: Remove SPMTest
        run: |
          git checkout $GITHUB_HEAD_REF
          rm -rf SampleApps/SPMTest
          rm -rf /Users/runner/Library/Developer/Xcode/DerivedData
          git add SampleApps/SPMTest
          git commit -m 'Remove SPMTest app to avoid Carthage timeout'
      - name: Use current branch
        run: echo 'git "file://'$PWD'" "'$GITHUB_HEAD_REF'"' > SampleApps/CarthageTest/Cartfile
      - name: Run carthage build
        run: carthage build --no-skip-current --use-xcframeworks
      - name: Run carthage update
        run: cd SampleApps/CarthageTest && carthage update --use-xcframeworks
      - name: Build CarthageTest
        run: xcodebuild -project 'SampleApps/CarthageTest/CarthageTest.xcodeproj' -scheme 'CarthageTest' clean build CODE_SIGNING_ALLOWED=NO
  spm:
    name: SPM (Xcode 14.3)
    runs-on: macOS-13-xlarge
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Use Xcode 14.3
        run: sudo xcode-select -switch /Applications/Xcode_14.3.app
      - name: Use current branch
        run: sed -i '' 's/branch = .*/branch = \"'"${GITHUB_HEAD_REF//\//\/}"'\";/' SampleApps/SPMTest/SPMTest.xcodeproj/project.pbxproj
      - name: Run swift package resolve
        run: cd SampleApps/SPMTest && swift package resolve
      - name: Build & archive SPMTest
        run: xcodebuild -project 'SampleApps/SPMTest/SPMTest.xcodeproj' -scheme 'SPMTest' clean build archive CODE_SIGNING_ALLOWED=NO
