name: Tests
on: [pull_request]
concurrency:
  group: tests-${{ github.event.number }}
  cancel-in-progress: true
jobs:
  unit_test_job:
    name: Unit
    runs-on: macos-15-xlarge
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Use Xcode 16.4
        run: sudo xcode-select -switch /Applications/Xcode_16.4.0.app
      - name: Install Package dependencies
        run: swift package resolve
      - name: Install CocoaPod dependencies
        run: pod install
      - name: Run Unit Tests
        run: set -o pipefail && xcodebuild -workspace 'Braintree.xcworkspace' -sdk 'iphonesimulator' -configuration 'Debug' -scheme 'UnitTests' -destination 'name=iPhone 16 Pro,OS=18.5,platform=iOS Simulator' -derivedDataPath DerivedData -retry-tests-on-failure test | ./Pods/xcbeautify/xcbeautify
  ui_test_job:
    name: UI
    runs-on: macos-15-xlarge
    timeout-minutes: 20
    strategy:
      matrix:
        test-suite:
          - ThreeDSecure_V2_UITests
          - PayPal_Checkout_UITests
          - PayPal_Vault_UITests
          - Venmo_UITests
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - name: Use Xcode 16.4
        run: sudo xcode-select -switch /Applications/Xcode_16.4.0.app

      - name: Install CocoaPod dependencies
        run: pod install

      - name: Disable Hardware Keyboard
        run: defaults write com.apple.iphonesimulator ConnectHardwareKeyboard -bool false

      - name: Run UI Tests - ${{ matrix.test-suite }}
        run: |
          set -o pipefail
          xcodebuild \
            -workspace 'Braintree.xcworkspace' \
            -sdk 'iphonesimulator' \
            -configuration 'Release' \
            -scheme 'UITests' \
            -destination 'platform=iOS Simulator,name=iPhone 16,OS=18.6' \
            -derivedDataPath DerivedData \
            -only-testing:UITests/${{ matrix.test-suite }} \
            -maximum-concurrent-test-simulator-destinations 1 \
            -disable-concurrent-testing \
            -retry-tests-on-failure \
            test | ./Pods/xcbeautify/xcbeautify

  integration_test_job:
    name: Integration
    runs-on: macos-15-xlarge
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Use Xcode 16.4
        run: sudo xcode-select -switch /Applications/Xcode_16.4.0.app
      - name: Install Package dependencies
        run: swift package resolve
      - name: Install CocoaPod dependencies
        run: pod install
      - name: Run Integration Tests
        run: set -o pipefail && xcodebuild -workspace 'Braintree.xcworkspace' -sdk 'iphonesimulator' -configuration 'Release' -scheme 'IntegrationTests' -destination 'name=iPhone 16 Pro,OS=18.5,platform=iOS Simulator' -derivedDataPath DerivedData -retry-tests-on-failure test | ./Pods/xcbeautify/xcbeautify
