name: Tests
on: [pull_request]
concurrency:
  group: tests-${{ github.event.number }} 
  cancel-in-progress: true
jobs:
  unit_test_job:
    name: Unit
    runs-on: macOS-13-xlarge
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Use Xcode 14.3
        run: sudo xcode-select -switch /Applications/Xcode_14.3.app
      - name: Install Package dependencies
        run: swift package resolve
      - name: Install CocoaPod dependencies
        run: pod install
      - name: Run Unit Tests
        run: set -o pipefail && xcodebuild -workspace 'Braintree.xcworkspace' -sdk 'iphonesimulator' -configuration 'Debug' -scheme 'UnitTests' -destination 'name=iPhone 14,OS=16.4,platform=iOS Simulator'  test | ./Pods/xcbeautify/xcbeautify
  ui_test_job:
    name: UI
    runs-on: macOS-13-xlarge
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Use Xcode 14.3
        run: sudo xcode-select -switch /Applications/Xcode_14.3.app
      - name: Install CocoaPod dependencies
        run: pod install
      - name: Run UI Tests
        run: set -o pipefail && xcodebuild -workspace 'Braintree.xcworkspace' -sdk 'iphonesimulator' -configuration 'Release' -scheme 'UITests' -destination 'name=iPhone 14,OS=16.4,platform=iOS Simulator'  test | ./Pods/xcbeautify/xcbeautify
  integration_test_job:
    name: Integration
    runs-on: macOS-13-xlarge
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Use Xcode 14.3
        run: sudo xcode-select -switch /Applications/Xcode_14.3.app
      - name: Install Package dependencies
        run: swift package resolve
      - name: Install CocoaPod dependencies
        run: pod install
      - name: Run Integration Tests
        run: set -o pipefail && xcodebuild -workspace 'Braintree.xcworkspace' -sdk 'iphonesimulator' -configuration 'Release' -scheme 'IntegrationTests' -destination 'name=iPhone 14,OS=16.4,platform=iOS Simulator'  test | ./Pods/xcbeautify/xcbeautify
